nltk
lxml
pymongo
beautifulsoup
goose-extractor
readability-lxml
beautifulsoup4
pattern
numpy
scipy
scikit-learn
tornado
unicodecsv
geopy
futures
supervisor
boto
python-dateutil
tzlocal
celery[mongodb]
flower
microsofttranslator
threadpool
